server.debug = false
server.listen_port=39390

# Flush interval in milliseconds
server.flush_interval=5000

# Network framework to use (netty or mina)
server.framework=netty

backend.use = statistic, database

backend.database.type = mysql
backend.database.host = 192.168.1.10
backend.database.port = 3128
backend.database.user = root
backend.database.password = none

backend.statistic.type = graphite
backend.statistic.host = 192.168.1.10
backend.statistic.port = 12345
